:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --Font-size-paragraph: 18px;
    --font-Weights: 500;
    --thicker-font-weight: 700;
    --font: 'Epilogue', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    background-color: var(--Almost-White);
}
.company-logo {
    display: flex;
}

a {text-decoration: none;}
li {list-style: none;}

.biggest-container {
    width: 100vw;
}

header {
    width: 100%;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.navigation-child {
    display: flex;
    align-items: center;
}

.navigation-child li a {
    margin-inline: 1rem;
    color: var(--Medium-Gray);
}

.navigation-child li a:hover {
    color: var(--Almost-Black);
}

.logo {
    margin-right: 1rem;
    padding-top: 5px;
}

.reg-cta a {
    display: block;
    cursor: pointer;
    padding: .5rem .8rem;
    border-radius: 10px;
}

.reg-cta:hover a{
    border: var(--Almost-Black) 3px solid;
    font-weight: var(--thicker-font-weight);
}
/*------------------------*/
.box {
    width: 85vw;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 6.5rem;
}

.box__right > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.box__left {
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: space-between;
}

.box-left_cont {
    padding-top: 8rem;
}

.box-left_cont h1 {
   font-size: 4.5em;
   line-height: 5rem;
   font-weight: var(--thicker-font-weight);
}

.box__left p {
    margin-block: 3rem;
    line-height: 1.5em;
    padding-right: 3rem;
    color: var(--Medium-Gray);
}

.cta {
    background-color: transparent;
    border: var(--Almost-Black) 1px solid;
    display: block;
    cursor: pointer;
    padding: .7rem 1.2rem;
    border-radius: 10px;
    font-weight: var(--thicker-font-weight);
    margin-bottom: 5rem;
}

.cta:hover {
    border: var(--Almost-Black) 3px solid;
}

.cta a {
    color: var(--Almost-Black);
}

.company-logo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: left;
    justify-items: center;
    align-items: end;
}

.company-logo li img {
    justify-items: center;
    align-items: center;
}

.drop {
    position: relative;
}

.drop::after {
    content: url(images/icon-arrow-down.svg);
    position: absolute;
    right: 0;
    top: 0;
}

.drop a:focus + .sub-menu,
.drop a:focus + .sub-menu-2 {
    background-color: white;
    padding-block: .3rem;
    margin-top: 1rem;
    display: block;
    width: 150px;
    position: absolute;
    left: 0;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sub-menu {
    display: none;
}
/*-------sub menu-icons----------*/
.to-do a::before {
    content: url(images/icon-todo.svg);
    margin-right: .5rem;
    width: .5em;
}
.cal a::before {
    content: url(images/icon-calendar.svg);
    margin-right: .5rem;
    width: .5em;
}
.rem a::before {
    content: url(images/icon-reminders.svg);
    margin-right: .5rem;
    width: .5em;
}
.plan a::before {
    content: url(images/icon-planning.svg);
    margin-right: .5rem;
    width: .5em;
}

.drop a:focus + .sub-menu-2 {
    left: 19%;
}

.sub-menu > li  {
    padding-block: .5rem;
    font-size: .8em;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 10px;
}
.attribution a { color: hsl(228, 45%, 44%); }